* {
    margin: 0px;
    padding: 0px;
}

.navbar-container {
    text-align: right;
    text-decoration: none;
    /* background-color: #100e17; */
    height: 60px;
    position: relative;
    
}

.navbar-container li {
    font-family: Arial, Helvetica, sans-serif;
    /* font-stretch: expanded; */
    display: inline-block;
    /* color: white; */
    color: black;
    padding: 10px;
    margin-top: 10px;
    /* border: 1px solid #201c29; */
    /* border-left: 1px solid white; */
    text-align: center;
    font-size: 0px;
}

.navbar-container li a {
    font-size: 14px;
    display:inline-block;
    letter-spacing: 0.04px;
}

.navbar-container li a:visited, .navbar-container li a:link, .navbar-container li a:active{
    text-decoration: none;
    color: black;
    
}

.navbar-container li a:hover {
    /* color: #FF00FF; */
    font-weight: bold;
    letter-spacing:0;
}

a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.profile-container {
    /* background-color: #100e17; */
    background-color: white;
}

 .profile-container {
     margin-top: 10px;
}

img {
    /* position: absolute;
    width:300px;
    transform:translate(-50%,-50%);
    left: 50%; */
    width:200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
     margin-left: auto;
    margin-right: auto;
} 


